# build artifacts
*.o
period_search_BOINC_cuda12000
pscuda.device-link.o
libstdc++.a
libcudart_static.a
libcudadevrt.a
libcudart.so
libcuda.so
libnvidia-ml.so
temp
boinc_lockfile
stderr.txt
period_search_out
w_*.o
Start_win.fatbin
ps_fatbin_win.c
*.exe
winlibs/
build_win.log
make_linux.log
build_fp64.log
build_fp32.log
build_fp64_full.log
period_search_BOINC_cuda12000_fp32
build_fp64_regression.log
